<div class="cart--cart-block">
  <div class="cart-block--summary">
    <a class="cart-block--link__expand" href="<%= url %>">
      <span class="cart-block--summary__icon" />
      <span class="cart-block--summary__count"><%= count_text %></span>
    </a>
  </div>
</div>
