<div class="cart--cart-offcanvas">
<% if (count > 0) { %>
  <div class="cart-block--offcanvas-contents">
    <div class="cart-block--offcanvas-contents__inner">
      <div class="cart-block--offcanvas-contents__items"></div>
      <div class="cart-block--offcanvas-contents__links">
        <%= links %>
      </div>
    </div>
  </div>
<% } %>
</div>
